@import './base.css';

#app {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: normal;
  background: #ffffff;
  color: #000000;
}

a,
.green {
  text-decoration: none;
  color: #000000;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: #f5f5f5;
  }
}

@media (min-width: 1024px) {
  body {
    display: block;
  }

  #app {
    display: block;
    width: 100%;
    height: 100vh;
    padding: 0;
  }
}
